@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
// primary colors
$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);
// neutral colors
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);
// fonts
$default-family: Manrope, sans-serif;
$default-size: 1.75rem;
$default-weight: 800;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
}

body {
  background-color: $dark-blue;
}
